.header {
  padding-top: 50px;
  padding-bottom: 130px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-main {
    display: flex;
    gap: 0 121px;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding-bottom: 70px;
    .btn {
      display: none;
    }
  }
  .header-main {
    gap: 0 100px;
  }
}
