.testimonials {
  padding-bottom: 150px;
  border-bottom: 2px solid rgba(156, 105, 226, 0.2);
  &-container {
    padding-left: 93px;
    padding-top: 109px;
    padding-bottom: 60px;
    background-color: $primary-color;
    border-radius: 50px;
  }
  &-title {
    font-family: $primary-font;
    font-size: 40px;
    line-height: 130%;
    color: white;
    margin-bottom: 88px;
  }
  &-item {
    background: #ffffff;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);

    display: flex !important;
    gap: 0 30px;

    border-radius: 10px;
    padding: 86px 74px 62px 70px;
    width: 100%;
    box-sizing: border-box;
  }
  &-name {
    color: $heading-color;
    margin-bottom: 9px;
  }
  &-job {
    color: $primary-color;
    margin-bottom: 31px;
  }
  &-info {
    letter-spacing: 0.2px;
  }
  &-content {
    max-width: 381px;
    margin-right: 0;
  }
  &-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 100rem;
    transform: translateY(-26px);
  }

  //slick slider
  .slick-track {
    display: flex;
    gap: 0 20px;
    padding-bottom: 60px;
  }
  .slick-slide {
    width: fit-content !important;
  }
  .slick-dots {
    list-style: none;
    display: flex !important;
    align-items: center;
    gap: 0 10px;
    button {
      font-size: 0;
      width: 5px;
      height: 5px;
      background-color: white;
      border-radius: 100rem;
      transition: all 0.2s linear;
    }
    .slick-active button {
      width: 10px;
      height: 10px;
      background-color: $secondary-color;
    }
  }
  .slick-arrow {
    width: 20px;
    height: 14px;
    opacity: 0.5;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    transition: all 0.2s linear;
    right: 0;
    &:hover {
      opacity: 1;
    }
  }
  .slick-prev {
    right: 116px;
    transform: rotate(180deg);
    &:hover {
      width: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .slick-next {
    right: 76px;
  }
}

@media screen and (max-width: 1440px) {
  .testimonials-container {
    padding-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .testimonials {
    padding-bottom: 80px;
  }
  .testimonials-container {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .testimonials-title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .testimonials-item {
    padding: 25px;
    gap: 0 15px;
    border-radius: 15px;
  }
  .testimonials-content {
    max-width: 150px;
  }
  .testimonials-image {
    width: 50px;
    height: 50px;
    transform: none;
  }
  .testimonials-job {
    margin-bottom: 20px;
  }
  .testimonials {
    .slick-track {
      padding-bottom: 30px;
    }
    .slick-dots {
      justify-content: center;
    }
    .slick-arrow {
      display: none !important;
    }
  }
}
